<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>DiceLaunch</servlet-name>
		<servlet-class>com.myjee.DiceLaunchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiceLaunch</servlet-name>
		<url-pattern>/dicelaunch</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Session</servlet-name>
		<servlet-class>com.myjee.SessionServlet</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>ScoreDisplay</servlet-name>
		<servlet-class>com.myjee.ScoreDisplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScoreDisplay</servlet-name>
		<url-pattern>/score</url-pattern>
	</servlet-mapping>
	
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
