<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    
  </head>
  <body ng-app="DiceLauncher">
    <h1>Lanceur de dé de ses grands morts</h1>
    <div ng-controller="DiceController as diceCtrl"> 
      <button ng-click="diceCtrl.throwDice()">
        Throw the dice !
      </button>
      <span>
        Score: {{diceCtrl.score}}
        Lancers restants lol = {{10 - diceCtrl.nbOfThrows}}
      </span>
      <form name="submitScore" ng-show="diceCtrl.nbOfThrows == 10" ng-submit="diceCtrl.addScore()">
        <input ng-model="diceCtrl.name" type="text" placeholder="Type your name here!" id="name"/>
        <input type="submit" value="Submit your score !"/>
        <p ng-show = "diceCtrl.name==''">Entrez un pseudo pour enregistrer votre score</p>
      </form>
    </div>
    
    <a href="dicelaunch"> clic</a>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="script.js"></script>
  </body>

</html>
 